.date-input-container {
  margin-bottom: 1rem;
}

.date-input {
  font-family: var(--main-font-light);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 20px;
  margin-right: 1rem;
}

.date-input-label {
  font-size: 16px;
  display: block;
  color: var(--grey-font-color);
}
